ion-card{
    position: relative;
}

.eliminarImg{
    position: absolute;
    font-size: 32px;
    margin: 5px;
    z-index: 1;
    right: 0px;
}

.itemicon{
    border-bottom: 1px solid white;
    --background: rgb(75, 75, 75);
}

#audioFondo{
    --background: rgb(75, 75, 75);
}

#editar{
    margin-bottom: 10px;
}

#cam{
    margin-left: 30px;
}

#img{
    margin-right: 30px;
}

ion-input{
    border: 1px solid lightgrey;
    margin-top: 5px;
}

#audioicon{
    margin-top: 15px;
    margin-bottom: 15px;
}

#btneditarAudio{
    justify-content: flex-end;
}

ion-card{
    border: 1px solid white;
    --background: rgb(75, 75, 75);
    color: white;
}